body {
    margin: 0;
}

/* Background Container */
.background-container {
    width: 100vw;
    height: auto;
    background-color:  #fff1e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Name and Job Descriptions */
.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: #2d3142;
    font-family: 'Playfair Display', serif;
    font-size: 8rem;
    text-align: center;
    margin-bottom: 1rem;
    z-index: 2;
}

@keyframes increaseWidth {
    from {width: 0%;}
    to {width: 80%;}
}

.background-shape {
    height: 2rem;
    width: 80%;
    margin-top: 8rem;
    margin-bottom: -15.25rem;
    background-color: #84a98c;
    animation-name: increaseWidth;
    animation-duration: 2.5s;
}

.job-description {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #2d3142;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* Link Icons */
.links {
    display: flex;
    margin-bottom: 2rem;
}

.fa-linkedin {
    color: #2d3142;
    opacity: 80%;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.fa-github-square {
    color: #2d3142;
    opacity: 80%;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.fa-file-pdf {
    color: #2d3142;
    opacity: 80%;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.icon:hover {
    opacity: 100%;
    cursor: pointer;
}

/* Portfolio Section */
.projects-header h3 {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #84a98c;
    padding: .5rem 2rem;
    margin-bottom: -1.75rem;
    position: relative;
    z-index: 5;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4rem;
    padding-top: 3rem;
    background-color: #2d3142;
}

.portfolio-piece {
    width: 45%;
    /* flex: 0 0 calc(30%); */
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 500px) {
    .portfolio-piece {
        width: 80%;
    }
}

.site-container {
    position: relative;
    width: 100%;
}

.thumbnail {
    display: block;
    width: 100%;
    transition: .5s ease;
}

.overlay-website {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2d3142;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-website p {
    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
  }

  .site-container:hover .overlay-website {
    opacity: 85%;
    transform: scale(1.08);
  }

  .site-container:hover .thumbnail {
    transform: scale(1.08);
  }

.project-title {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .6rem;
    margin-bottom: 0;
    color: white;
}

.project-description {
    text-align: center;
    margin-top: .65rem;
    margin-bottom: .35rem;
    font-family: 'Helvetica', sans-serif;
    color: white;
    opacity: 90%;
}

.code-link {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
  }

a:hover {
    color:#84a98c;
}